.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 10px;
}

.label {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #f0f0f0;
  border: 1px solid transparent;
}
.label input {
    filter:grayscale(1)
}

