#root {
  max-width: 720px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  background-color: #c3c0c0;
}

.uploader {
  border: 1px dashed black;
  margin-bottom: 20px;
  background-color: #ffffff96;
  cursor: pointer;
}


